<mat-toolbar color="primary">
  <mat-toolbar-row>
    <fa-icon icon="bars" (click)="sidenav.toggle()"></fa-icon>
    <div>&nbsp;My petstore</div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a routerLink="/pets" mat-list-item>Pets</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
